<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Blog App</title>
</head>
<body>

<!-- Your navigation -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- Other links... -->
    {{#if loggedIn}}
      <li><a href="/auth/logout">Logout</a></li>
    {{else}}
      <!-- Show login/signup links when not logged in -->
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    {{/if}}
  </ul>
</nav>

<!-- Your page content -->
{{> body}}

</body>
</html>
