*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


body {
    background-color: rgb(28 25 23);
    color: white;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}